.row
  .col-md-9
    Share:
    .addthis_sharing_toolbox
    %h4 Data sementara
    %table.table.table-striped
      %tr
        %td TPS terdata
        %td= @global_progress
      %tr
        %td Prabowo
        %td= @count_prabowo
      %tr
        %td Jokowi
        %td= @count_jokowi
      %tr
        %td Tidak sah
        %td= @count_broken

    %h4 Top Contributors
    %table.table.table-striped
      -@top_contributors.each do |tc|
        %tr
          %td= tc.user.name
          %td= tc.amount
  .col-md-3
    - unless signed_in?
      =render "devise/sessions/new"