.login
  %h3
    Log In or
    = link_to "Sign up", new_registration_path(resource_name)
.row
  .col-xs-12.col-sm-12.col-md-12
    = link_to "Facebook", user_omniauth_authorize_path(:facebook), "class" => 'btn btn-lg btn-primary btn-block'
.login-or
  %hr.hr-or/
  %span.span-or or
= form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f|
  .form-group
    %label{for: "inputUsernameEmail"} Username or email
    = f.email_field :email, autofocus: true, :class => 'form-control'
  .form-group
    = link_to "Forgot password?", new_password_path(resource_name), 'class' => 'pull-right'
    %label{for: "inputPassword"} Password
    = f.password_field :password, autocomplete: "off", :class => 'form-control'
  .checkbox.pull-right
    %label
      = f.check_box :remember_me
      Remember me
  =f.submit "Log In", :class => 'btn btn-primary'